init-author-name=Sam Stites
init-author-email=sam@stites.io
init-author-url=http://stites.io/
init-version=0.0.1
python=python2.7
progress=false
save-prefix=
parseable=true
loglevel=verbose
foo:port=80
