body
{
	color: #eee;
	background-color: #000000;
	margin: 2px;
	line-height: 1.4em;
}

.status {
	margin: 5px 30px;
}

.history span {
	opacity: .5!important;
}

#Chat {
	padding-bottom: 2px;
}

a:link
{
	color: #9a5;
	text-decoration: underline;
}

a:hover
{
	color: #abed6a;
	text-decoration: underline;
}

a:active
{
	color: #ea80eb;
	text-decoration: underline;
}